// COLORS
$diamond: #BCF2F4;
$ghost-white: #F8F8FB;
$gray-blue: #8690AD;
$smoky-black: #090A0C;
$charcoal: #38415E;

$foundation-palette: (
    primary: $smoky-black,
    secondary: $charcoal,
    success: #3adb76,
    warning: #ffae00,
    alert: #cc4b37,
  );

// LAYOUT
$grid-container-padding: 100px;

@import 'foundation';
@include foundation-everything(true);

html {
  background-color: $diamond;
}

html * {
  background: transparent;
}

.text-center {
  text-align: center;
}

.body * {
  color: $charcoal;
}

.section {
  padding: 64px 0;
}

@keyframes slide-in-from-top {
  from { transform: translateY(-100%); }
  to { transform: translateY(0%); }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 100; }
}

#responsive-menu {
  animation-name: slide-in-from-top;
  animation-duration: 0.5s;
  animation-delay: 0.25s;
  animation-fill-mode: both;
}

#home-h1 {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}
