$dark-slate-gray: #0D0D0F;
$dark-olive-green: #361913;
$saddle-brown: #642719;
$brown: #973B21;
$purple-taupe: #484359;

$foundation-palette: (
    primary: $dark-slate-gray,
    secondary: $purple-taupe,
    success: #3adb76,
    warning: #ffae00,
    alert: #cc4b37,
  );

@import 'foundation';
@include foundation-everything(true);
