---
layout: default
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
  <link rel="manifest" href="/manifest.json">
  <link rel="shortcut icon" href="/favicon.ico">

  <!-- For styles with static names... -->
  <link href="{{ 'assets/css/style.css' | relative_url }}" rel="stylesheet">
  <!-- For documents/pages whose URLs can change... -->
  <!-- [{{ page.title }}]("{{ page.url | relative_url }}") -->

  <title>Justin P Morrow</title>
</head>

<body>
  <div class="home">

    <h1 class="page-heading">Github Repos</h1>

    <ul class="repo-list">
      {% for repository in site.github.public_repositories %}
      <li class="repo-list-item"><a src="{{ repository.html_url }}">{{ repository.name }}</a></li>
      {% endfor %}
    </ul>

    <h1 class="page-heading">Posts</h1>

    <ul class="post-list">
      {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
      {% endfor %}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

  </div>
</body>

</html>