// As hex codes */
$color-primary-0: #9ce5fd; // Main Primary color */
$color-primary-1: #a0d2e2;
$color-primary-2: #a0d2e2;
$color-primary-3: #17a3d1;
$color-primary-4: #17a3d1;

$color-complement-0: #ffcd99; // Main Complement color */
$color-complement-1: #ffd9b1;
$color-complement-2: #ffd9b1;
$color-complement-3: #ff8c14;
$color-complement-4: #ff8c14;
